# Configuration file

general {
    I:SMPMaxAlarmRange=256
    I:alarmRange=64
    S:allowedAlarms=default,sci-fi
    S:httpSensorKey=b470bec190704d21a4cfd187a06f4810
    I:infoPanelRefreshPeriod=20
    B:isHttpSensorAvailable=true
    I:maxAlarmRange=128
    I:rangeTriggerRefreshPeriod=20

    # Valid inputs: normal or old [default: normal]
    S:recipes=normal
    I:remoteThermalMonitorEnergyConsumption=1
}


