# Configuration file

##########################################################################################################
# armor
#--------------------------------------------------------------------------------------------------------#
# Custom armor properties
##########################################################################################################

armor {
}


##########################################################################################################
# blocks
#--------------------------------------------------------------------------------------------------------#
# Custom block properties
##########################################################################################################

blocks {

    lapisOre {
        S:01.Name=minecraft:lapis_ore
        I:02.Damage=-1
        I:02.MetaID=0
        S:03.DropName=
        B:"03.Enable Ambient Temperature"=true
        D:"04.Ambient Temperature"=-0.1
        I:04.DropMetaID=0
        D:"05.Ambient Air Quality"=0.0
        I:05.DropNumber=0
        D:"06.Ambient Santity"=0.0
        B:"06.Enable Temperature"=false
        D:"07.Effect Temperature"=0.0
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:09.Sanity=0.0
        D:"10.Effect Hydration"=0.0
        S:10.Stability=loose
        D:"11.Effect Temperature Cap"=37.0
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    lapieBlock {
        S:01.Name=minecraft:lapis_block
        I:02.Damage=-1
        I:02.MetaID=0
        S:03.DropName=
        B:"03.Enable Ambient Temperature"=true
        D:"04.Ambient Temperature"=-0.1
        I:04.DropMetaID=0
        D:"05.Ambient Air Quality"=0.0
        I:05.DropNumber=0
        D:"06.Ambient Santity"=0.0
        B:"06.Enable Temperature"=false
        D:"07.Effect Temperature"=0.0
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:09.Sanity=0.0
        D:"10.Effect Hydration"=0.0
        S:10.Stability=loose
        D:"11.Effect Temperature Cap"=37.0
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    lapieBlockChisel {
        S:01.Name=chisel:chisel.lapis
        I:02.Damage=-1
        I:02.MetaID=0
        S:03.DropName=
        B:"03.Enable Ambient Temperature"=true
        D:"04.Ambient Temperature"=-0.1
        I:04.DropMetaID=0
        D:"05.Ambient Air Quality"=0.0
        I:05.DropNumber=0
        D:"06.Ambient Santity"=0.0
        B:"06.Enable Temperature"=false
        D:"07.Effect Temperature"=0.0
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:09.Sanity=0.0
        D:"10.Effect Hydration"=0.0
        S:10.Stability=loose
        D:"11.Effect Temperature Cap"=37.0
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    TicTorch {
        S:01.Name=TConstruct:decoration.stonetorch
        I:02.Damage=-1
        I:02.MetaID=0
        S:03.DropName=
        B:"03.Enable Ambient Temperature"=true
        D:"04.Ambient Temperature"=0.5
        I:04.DropMetaID=0
        D:"05.Ambient Air Quality"=0.01
        I:05.DropNumber=0
        D:"06.Ambient Santity"=-0.01
        B:"06.Enable Temperature"=false
        D:"07.Effect Temperature"=0.05
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:"08.Effect Air Quality"=0.05
        D:"09.Effect Sanity"=1.0
        D:09.Sanity=0.0
        D:"10.Effect Hydration"=1.0
        S:10.Stability=loose
        D:"11.Effect Temperature Cap"=38.00
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

}


##########################################################################################################
# entity
#--------------------------------------------------------------------------------------------------------#
# Custom entity properties
##########################################################################################################

entity {
}


##########################################################################################################
# items
#--------------------------------------------------------------------------------------------------------#
# Custom item properties
##########################################################################################################

items {

    TicTorch {
        S:01.Name=TConstruct:decoration.stonetorch
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=true
        D:"04.Ambient Temperature"=0.5
        D:"05.Ambient Air Quality"=0.01
        D:"06.Ambient Santity"=-0.01
        D:"07.Effect Temperature"=0.05
        D:"08.Effect Air Quality"=0.05
        D:"09.Effect Sanity"=1.0
        D:"10.Effect Hydration"=1.0
        D:"11.Effect Temperature Cap"=38.00
    }

    TConstructLavaTank {
        S:01.Name=TConstruct:LavaTank
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=true
        D:"04.Ambient Temperature"=100.0
        D:"05.Ambient Air Quality"=-0.5
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
    }

    TConstructLavaTankNether {
        S:01.Name=TConstruct:LavaTankNether
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=true
        D:"04.Ambient Temperature"=100.0
        D:"05.Ambient Air Quality"=-0.5
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
    }
	
	lapisOre {
        S:01.Name=minecraft:lapis_ore
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=true
        D:"04.Ambient Temperature"=-0.1
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
    }

    lapieBlock {
        S:01.Name=minecraft:lapis_block
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=true
        D:"04.Ambient Temperature"=-0.1
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
    }

    lapieBlockChisel {
        S:01.Name=chisel:chisel.lapis
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=true
        D:"04.Ambient Temperature"=-0.1
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
    }

}


